$colour : (
    "maroon" : #A44884,
    "white" : #ffffff,
    "button-blue" : #1AAFFA,
    "dark-blue-text": #1268B3,
    "light-blue-text": #4A97C6,
    "icon-blue": #1BB7EA,
    "navy" : #006299,
    "app-black": #202020,
    "grey": #969696, 
    "input-blue-background": #F0F7FD,
    "text-grey": #757575,
    "label-grey":#95AFBE,
    "off-white": #F0F7FC,
    "card-white": #E5F6FF,
    "card-blue": #BBE7FF,
    "background-blue": #DFF3FD,
    "container-background": #ECF9FF,
    "input-grey": #D5D5D5,
    "input-dark-grey": #414141,
    "btn-background": #D1EFFE,
    "btn-blue": #76CFFC,
    "green": #00C07B,
    "success-green": #02B55C,
    "header-btn": #5893C5,
    "list-background": #F8FCFD,
    "card-border-blue": #CBEDFF
);

$mobile : 900px;
$family-primary :'Montserrat', sans-serif;
$family-secondary : 'lato', sans-serif;

@mixin fixed-alignment ($top,$rignt,$bottom,$left) {
    top: $top;
    right: $rignt;
    bottom: $bottom;
    left: $left;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-image: url("/assets/Background.png");
    background-repeat: no-repeat;
    background-size: 100vw 100vh;
    background-color: map-get($map: $colour, $key: "background-blue");
}

.family-primary, h1, h2, h3 {
    font-family: $family-primary;
}

.family-secondary, p{
    font-family: $family-secondary;
}

.fw {
    &-verylight {
        font-weight: 300;
    }

    &-light {
        font-weight: 400;
    }

    &-normal {
        font-weight: 500;
    }

    &-medium {
        font-weight: 600;
    }

    &-bold {
        font-weight: 700;
    }
}

.fs {
    &-10 {
        font-size: 10px;
    }

    &-12 {
        font-size: 12px;
    }

    &-13 {
        font-size: 13px;
    }

    &-14 {
        font-size: 14px;
    }

    &-15 {
        font-size: 15px;
    }

    &-16 {
        font-size: 16px;
    }

    &-18 {
        font-size: 18px;
    }

    &-20 {
        font-size: 20px;
    }

    &-22 {
        font-size: 22px;
    }
}

.fc {
    &-maroon {
        color: map-get($map: $colour, $key: "maroon");
    }

    &-green {
        color: map-get($map: $colour, $key: "success-green");
    }

    &-navy {
        color: map-get($map: $colour, $key: "navy");
    }

    &-white {
        color: map-get($map: $colour, $key: "white");
    }

    &-label-grey {
        color: map-get($map: $colour, $key: "label-grey");
    }
}

.td {

    &-line-through {
        text-decoration: line-through;
    }
}

.lh {
    &-15 {
        line-height: 15px;
    }

    &-18 {
        line-height: 18px;
    }

    &-22 {
        line-height: 22px;
    }
}

a {
    text-decoration: none;
    cursor: pointer;
}

.gap {
    &-5 {
        gap: 5px;
    }

    &-10 {
        gap: 10px;
    }

    &-30 {
        gap: 30px;
    }
}

.d-flex {
    display: flex;
}

.align-items {

    &-center {
        align-items: center;
    }

    &-end {
        align-items: flex-end;
    }
}

.justify-content {

    &-center {
        justify-content: center;
    }

    &-space-between {
        justify-content: space-between;
    }

    &-space-around {
        justify-content: space-around;
    }

    &-end {
        justify-content: flex-end;
    }
}

.flex-column {
    flex-direction: column;
}

.position {
    &-fixed {
        position: fixed;
    }

    &-relative {
        position: relative;
    }

    &-absolute {
        position: absolute;
    }
}

.shadow {
    &-light {
        box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
        transition: box-shadow 0.2s;
    }

    &-heavy {
        box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3);
    }

    &-hover{ // Hover on renew cards 
        box-shadow: 0px 8px 6px rgba(0, 86, 135, 0.2);
    }
}

.btn {
    cursor: pointer;

    &-primary { 
        background-color: map-get($map: $colour, $key: "button-blue");
        color: map-get($map: $colour, $key: "white");
        border: none;
        border-radius: 6px;
    }

    &-secondary {
        height: 24px;
        background-color: map-get($map: $colour, $key: "white");
        padding-inline: 13px;
        border-radius: 6px;
        border: 1px solid  map-get($map: $colour, $key: "grey");
        font-size: 12px;
        color: map-get($map: $colour, $key: "grey");
    }

    &-cancel {
        font-size: 16px;
        color: map-get($map: $colour, $key: "dark-blue-text");
        background-color: map-get($map: $colour, $key: "off-white");
        border-radius: 12px;
        width: 24px;
        height: 24px;
    }
}

.inactive {
    display: none;
}

// Menu Styles

.menu {
    @include fixed-alignment(0,0,50px,0);
    
    &__left {
        height: 100%;
        min-width: 227px;
        padding-top: 70px;
        padding-bottom: 24px;
    }

    &__center {
        width: 930px;
        height: 580px;
        border-radius: 20px;
        background-color: rgba(52, 138, 188, 0.04);
    }

    &__right {
        padding: 18px;
        height: 100%;
    }

    &__container {
        border-radius: 20px;
        width: 509px;
        height: 100%;

        &__top {
            height: 120px;
            padding: 20px;
            width: 100%;
            border-radius: 20px 20px 0 0;
            background-color: map-get($map: $colour, $key: "maroon");

            &__content {
                height: 100%;
                color: map-get($map: $colour, $key: "white");
    
                &__btn {
                    width: 127px;
                    height: 40px;
                }
            }
        }

        &__bottom {
            padding-top: 39px;
            border-radius: 0 0 20px 20px;
            background-color: map-get($map: $colour, $key: "white");
            flex: 1;

            &__p {
                color: map-get($map: $colour, $key: "dark-blue-text");
                margin-left: 33px;
            }

            &__div {
                padding-inline: 54px;
                padding-top: 16px;
                width: 100%;
                height: 350px;
            }
        }
    }

    &__list {
        list-style: none;
        padding-top: 42px;
        padding-left: 19px;
        min-width: max-content;

        &__item {
            padding: 20px;
            gap: 18px;
            height: 90px;
            width: 100%;

            &__icon {
                height: 60px;
                width: 60px;
                object-fit: contain;
            }

            &__content {

                &__h {
                    color: map-get($map: $colour, $key: "light-blue-text");
                    margin-bottom: 4px;
                }

                &__p {
                    color: map-get($map: $colour, $key: "app-black");
                }
            }
        }
    }
}

.profile {
    &__userimg {
        border-radius: 45px;
        height: 90px;
        width: 90px;
        margin-bottom: 28px;
    }

    &__grade {
        border-radius: 17px;
        top: 80px;
        padding: 2px 7px;
        min-width: max-content;
        color: map-get($map: $colour, $key: "white");
        background-color: map-get($map: $colour, $key: "button-blue");
    }

    &__username {
        margin-bottom: 22px;
        color: map-get($map: $colour, $key: "app-black");
    }
}

.contact {
    gap: 7px;
    font-size: 12px;
    color: map-get($map: $colour, $key: "text-grey");

    &__number {
        color: map-get($map: $colour, $key: "app-black");
    }

    &__icon {
        color: map-get($map: $colour, $key: "icon-blue");
        margin-right: 4px;
    }

    &__btn {
        display: none;
    }
}

.horizontalscroll {
    display: grid;
    grid-auto-flow: column;
    overflow-x: auto;
    overscroll-behavior-x: contain;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    gap: 16px;
    -ms-overflow-style: none;
    scrollbar-width: none;

    &::-webkit-scrollbar { 
        display: none;
    }

    &__scrollcard {
        border-radius: 20px;
        background-image: linear-gradient(#1268B3,#0b406e);
        height: 325px;
        min-width: 430px;
        scroll-snap-align: center;
        color: map-get($map: $colour, $key: "white");
        
        &__content {
            padding: 14px 0 20px 14px;
            height: 100%;
            width: 200px;
        }

        &__logo {
            height: 35px;
            width: 35px;
            margin-right: 14px;
        }

        &__heading {
            margin-bottom: 4px;
        }
    }
}

.footer {
    padding-inline: 13px;
    @include fixed-alignment(none,0,0,0);
    height: 50px;
    width: 100%;

    &__p {
        margin: 4px;
        color: map-get($map: $colour, $key: "grey");
    }

    &__link {
        color: map-get($map: $colour, $key: "grey");
        text-decoration: underline;
    }

    &__logo {
        margin-left: 14px;
    }

    &__seperator {
        margin: 0 4px;
    }

    &__year {
        color: map-get($map: $colour, $key: "app-black");
        margin-left: 4px;
    }
}

//Renew Page Styles

.header {
    height: 64px;
    @include fixed-alignment(0,0,none,0);
    gap: 16px;
    padding-inline: 16px;
    background-image: url("/assets/Header Background.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    min-width: max-content;

    &__btn {
        height: 32px;
        width: 32px;
        border-radius: 16px;
        background-color: map-get($map: $colour, $key: "header-btn");
    }

    &__logo {
        @include fixed-alignment(18px,18px,none,none);
        width: 80px;
        height: 80px;
        border-radius: 40px;
        background-image: url("/assets/Studi_Logo.png");
    }
}

.page {
    margin-top: 124px;
    margin-left: 18px;
    margin-right: 18px;
    margin-bottom: 41px;
    gap: 30px;

    &__bottom {
        gap: 16px;
    }
}

.notification {
    padding: 20px;
    gap: 20px;
    height: 58px;
    max-width: 614px;
    min-width: max-content;
    background-color: map-get($map: $colour, $key: "green");;
    border-radius: 4px;


    &__p {
        flex: 1; 
    }
}

.renewcard {
    border-radius: 8px;
    width: 100%;
    height: 200px;
    background-image: linear-gradient(to right,map-get($map: $colour, $key: "card-white"),map-get($map: $colour, $key: "card-blue"));
    border: 1px solid map-get($map: $colour, $key: "card-border-blue");

    &__top {
        width: 100%;
        height: 36px;

        &--upgrade {
            background: linear-gradient(to right,rgba(14,199,255,0.1),rgba(220,5,255,0.1));
        }

        &__p {
            flex: 1;
            border-radius: 8px 0px 0px 0px;
            height: 100%;
            padding-left: 20px;
        }

        &__btn {
            border-radius: 0px 8px 0px 0px;
            //width: 122px;
            height: 100%;
            background-color: transparent;
            background-size: 100% 100%;
            padding-left: 42px;
            padding-right: 20px;

            &--upgrade {
                background-image: url("/assets/upgrade-btn.svg");
            }

            &--subscribe {
                background-image: url("/assets/subscribe-btn.svg");
            }

            &--renew {
                background-image: url("/assets/renew-btn.svg");
            }

            &--trial {
                background-image: url("/assets/free-trial-btn.svg");
            }
        }
    }

    &__bottom {
        height: 164px;
        padding: 20px;

        &__start {
            margin-bottom: 10px;
        }
    }
    
    &__info {
        margin-bottom: 24px;

        &__coupon {
            font-style: italic;

            span {
                margin-right: 4px;
            }
        }
    }
}

.container {
    border-radius: 20px;
    width: 614px;
    background-color: map-get($map: $colour, $key: "white");

    &__top {
        background-image: linear-gradient(transparent,map-get($map: $colour, $key: "container-background"));
        padding: 30px;
        width: 100%;
    }

    &__bottom {
        padding-top: 20px;
        padding-bottom: 36px;
        padding-inline: 30px;

        &--invoice {
            padding-top: 35px;
            padding-bottom: 92px;
        }
    }

    &__heading {
        margin-bottom: 20px;
    }
    
    &__subheading {
        margin-bottom: 10px;

        img {
            height: 15px;
            width: 15px;
            margin-right: 5px;
        }
    }

    &__cardlist {
        gap: 20px;
    }

    &__group {
        width: 404px;
    }
}

.sidecontainer {
    margin-top: 16px;
    border-radius: 20px;
    background-color: map-get($map: $colour, $key: "white");
    width: 299px;
    padding: 20px;
    height: max-content;
    gap: 10px;

    &__msg {
        gap: 10px;
    }

    &__btn {
        border-radius: 4px;
        height: 40px;
        width: 100%;
        background-color: map-get($map: $colour, $key: "btn-background");
        color: map-get($map: $colour, $key: "btn-blue");
        transition: all 0.05s;

        &--active {
            background-color: map-get($map: $colour, $key: "button-blue");
            color: map-get($map: $colour, $key: "white");
        }
    }

    &__list {
        margin-left: 13px;
    }
}

.background {
    &--renew {
        background-image: url("/assets/Cloud.png");
        background-size: 100%;
        background-repeat: no-repeat;
    }
}

.inputnode {

    height: 40px;
    width: 100%;
    border-radius: 4px;
    padding-inline: 10px;
    gap: 10px;
    border: 1px solid map-get($map: $colour, $key: "input-grey");
    transition: border 0.05s;

    input {
        height: 100%;
        flex: 1;
        border: none;

        &::placeholder {
            color: 1px solid map-get($map: $colour, $key: "input-grey");
            font-size: 12px;
            font-weight: 400;
        }

        &:focus {
            outline: none;
        }
    }

    &--active {
        border: 0.5px solid map-get($map: $colour, $key: "input-dark-grey");
    }

    &--error {
        border: 0.5px solid map-get($map: $colour, $key: "maroon");
    }

    &--success {
        border: 0.5px solid map-get($map: $colour, $key: "success-green");
    }
}

.invoice {
    //background-color: lightcoral;

    &__input {
        width: 100%;
        min-height: 43px;
        border: 1px solid map-get($map: $colour, $key: "input-grey");
        border-radius: 4px;
        padding-inline: 10px;
        flex: 1;

        &:focus {
            outline :0.5px solid map-get($map: $colour, $key: "input-dark-grey");
        }

        &--disabled {
            background-color: map-get($map: $colour, $key: "input-blue-background");
            border: none;
        }
    }

    &__btn {
        height: 40px;
        flex: 1;
        color: map-get($map: $colour, $key: "light-blue-text");
        border-color: map-get($map: $colour, $key: "light-blue-text");

        &:hover{
            background-color: map-get($map: $colour, $key: "button-blue");
            color: map-get($map: $colour, $key: "white");
            border-color: map-get($map: $colour, $key: "button-blue");
            transition: all 0.1s;
        }
    }
}

@media (max-width: $mobile) {
    body {
        background-color: map-get($map: $colour, $key: "list-background");
    }

    .menu {
        //@include fixed-alignment(0,0,0,0);
        overflow: auto;
        position: static;
        flex-direction: column;
        background: none;

        &__left {
            width: 100%;
            height: max-content;
            padding: 0;
            background-color: map-get($map: $colour, $key: "white");
        }

        &__center {
            width: 100%;
            height: auto;
            border-radius: 0;
            flex-direction: column;
            background: none;
        }
    
        &__right {
            display: none;
        }
    
        &__container {
            width: 100%;
            height: auto;
            box-shadow: none;
    
            &__top {
                border-radius: 0;
                height: max-content;
                width: 100%;
    
                &__content {
                    gap: 10px;

                    &__btn {
                        font-size: 12px;
                        font-weight: 600;
                        width: 114px;
                        height: 34px;
                        font-family: $family-primary;
                    }
                }
            }
    
            &__bottom {
                padding-top: 27px;
                padding-bottom: 22px;
                border-radius: 0;
                align-items: center;
                display: flex;
                flex-direction: column;
    
                &__p {
                    font-size: 18px;
                    margin: 0;
                }
    
                &__div {
                    height: auto;
                }
            }
        }
    
        &__list {
            width: 100%;
            padding: 0 0 10px 0;
            background: none;
            background-color: map-get($map: $colour, $key: "list-background");
        }
    }

    .profile {
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
        padding: 20px;
        gap: 20px;

        div {
            flex: 1;
            align-items: flex-start;

            div {
                flex-direction: row;
                justify-content: space-between;
                width: 100%;
            }
        }

        &__userimg {
            border-radius: 45px;
            height: 65px;
            width: 65px;
            margin: 0;
            box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3);
        }
    
        &__grade {
            font-size: 15px;
            position: static;
            box-shadow: none;
            padding: 0;
            min-width: max-content;
            color: map-get($map: $colour, $key: "app-black");
            background-color: transparent;
        }
    
        &__username {
            margin: 0;
            color: map-get($map: $colour, $key: "app-black");
        }
    }

    .contact {
        display: none;

        &__btn {
            display: inline;
            width: 100%;
            height: 40px;
            color: map-get($map: $colour, $key: "light-blue-text");
            border-color: map-get($map: $colour, $key: "light-blue-text");
            margin-bottom: 10px;
        }
    }

    .horizontalscroll {
    
        &__scrollcard {
            height: 276px;
            min-width: 320px;
        }
    }

    .footer {
        flex-direction: column;
        position: static;
        padding-inline: 13px;
        height: max-content;
        margin-bottom: 68px;
        width: 100%;
        justify-content: center;
    
        &__logo {
            display: none;
        }

        &__img {
            display: none;
        }
    }
    
    //Renew Page Styles

    .header {
        &__logo {
            display: none;
        }
    }
    
    .page {
        margin-top: 94px;
        margin-left: 0;
        margin-right: 0;
        margin-bottom: 41px;
        gap: 0;
        align-items: center;
    
        &__bottom {
            width: 100%;
            flex-direction: column;
            gap: 0;
            align-items: center;
        }
    }

    .notification {
        margin-left: 18px;
        margin-right: 18px;
        height: max-content;
        max-width: no;
        min-width: 0;
    }

    .container {
        border-radius: 0;
        width: 100%;
        box-shadow: none;

        &__top {
            padding-inline: 18px;
        }

        &__bottom {
            padding-inline: 18px; 
        }

        &__group {
            max-width: 404px;
            width: 100%;
        }
    }

    .sidecontainer {
        margin-top: 0;
        border-radius: 0;
        padding-inline: 18px;
        width: 100%;
        gap: 10px;
        max-width: 500px;
    }

    .background {
        &--renew {
            background-image: none;
            background-color: map-get($map: $colour, $key: "white");;
        }
    }
}